rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Managers
    match /yoneticiler/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Residents
    match /{path=**}/meskenler/{meskenId} {
      allow read: if request.auth != null;
      allow write: if false;
    }
    
    // Others
    match /{document=**} {
      allow read, write: if false;
    }
  }
}